body {
	margin: 0;
	font-family: Helvetica, Arial;
	width: 100%
}

nav {
	float: right;
}

ul {
	padding-right: 30px;
}

li {
	padding-right: 30px;
}


ul, li {
	display: inline-block;
}

.left {
	float: left;
}

.right {
	float:right;
}

